{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <title>Project</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

<!-- Favicons -->
{% comment %} <link href="{% static 'images/favicon.png' %}" rel="icon">
<link href="{% static 'images/apple-touch-icon.png' %}" rel="apple-touch-icon"> {% endcomment %}

<!-- Google Fonts -->
{% comment %} <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet"> {% endcomment %}

  <link rel="stylesheet" href="{% static 'fonts/flat-icon/flaticon.css' %}">
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
  <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
</head>
<body>
<div id="content-wrapper">
  <header class="header header--bg">
    <div class="container">
      
      <div class="header__content text-center">
        <span class="header__content__block">EXTRACT TEXT FROM IMAGES AND VIDEOS</span>
        <!-- <h1 class="header__content__title">I'M JOHNNY D. DORSCH</h1> -->
        <ul class="header__content__sub-title">
          <!-- <li>UI&#47;UX DESIGNER <span class="padding">&#45;</span></li> -->
          <li>Upload Files Here</li>
          <!-- <li>PHOTOGRAPHAR</li> -->
        </ul>
                <form name="Form" enctype = "multipart/form-data" action="upload_file" method="POST">
                  {% csrf_token %}
                      <div class="form-group files">
                        
                        <center><input type="file" class="form-control" name ="filename"></center>
                        {% comment %} <h6 class="form-control"> or drag it here.</h6> {% endcomment %}
                        <select class="custom-select mr-sm-2" id="inlineFormCustomSelect" name="filetype" required>
                            <option selected>File Type  </option>
                            <option value="1">Image</option>
                            <option value="2">Video</option> 
                            <option value="3">Audio</option>  
                        </select>
                      </div>
                      <br>
            <div class="col-auto my-1">
              <button type="submit" class="btn btn-primary">Convert</button>
            </div>
                      
                    
                  </form>
      </div>

      
      </div>
    </div>
    
  </header>

  


  <div class="form-group-2">
    <p>The converted text is:  {{text}}
    </div>

  

  

  

  

 

  

  {% comment %} <footer class="footer footer--bg"> {% endcomment %}
    
    
    {% comment %} <div class="container text-center">
      
      <p class="footer__paragraph">Copyright &copy; 2017 DartThemes , All Rights Reserved.</p>
    </div> {% endcomment %}
  {% comment %} </footer> {% endcomment %}

  <script src="{% static 'jquery/jquery-3.2.1.min.js' %}"></script>
  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  <script src="{% static 'js/mixitup.js'%}"></script>

  <!-- <script>
    $('a').click(function(e)
      {
        e.preventDefault();
      });

    // calling mixitup
    var mixer = mixitup(".portfolio");
  </script> -->
</body>
</html>  